@use 'base/variables' as v;
@use 'base/mixins' as m;

.contenedor-card {
	display: grid;
	place-items: center;
}
.card {
	max-width: 400rem;
	text-align: center;
	background-color: v.$azul-od;
	border-radius: 10rem;
	margin: 100rem 0;

	p {
		color: v.$blanco-parrafo;
	}

	h1,
	h2 {
		color: v.$blanco-titulo;
	}

	@include m.desktop {
		@include m.grid(2, 20rem);
		max-width: 1200rem;
		text-align: left;
		margin: 0;
	}
}

.card-img {
	border-top-left-radius: 10rem;
	border-top-right-radius: 10rem;

	@include m.desktop {
		border-top-left-radius: 0rem;
		border-bottom-right-radius: 10rem;
	}

	img {
		mix-blend-mode: multiply;
		opacity: 70%;

		border-top-left-radius: 10rem;
		border-top-right-radius: 10rem;

		@include m.desktop {
			border-top-left-radius: 0rem;
			border-top-right-radius: 10rem;
		}
	}

	@include m.movil {
		order: 2;
		width: 100%;
	}
}

.card-info {
	padding: 20rem;

	h1 {
		font-size: 32rem;
	}

	span {
		color: v.$violeta-s;
	}

	p {
		font-size: 18rem;
		line-height: 1.7;
	}

	@include m.movil {
		h1 {
			font-size: 35rem;
		}

		p {
			font-size: 20rem;
		}
	}

	@include m.desktop {
		padding: 70rem;

		p {
			font-size: 18rem;
		}
	}
}

.card-info-data {
	margin-top: 50rem;

	@include m.desktop {
		display: flex;
		justify-content: space-around;
		margin-top: 70rem;
	}
}

.data {
	text-align: center;
	margin-bottom: 30rem;

	p {
		color: v.$blanco-estadisticas;
		text-transform: uppercase;
		font-family: v.$fuente-segundaria;
	}

	@include m.desktop {
		text-align: left;
		margin-bottom: 0;

		h2 {
			font-size: 25rem;
		}

		p {
			font-size: 14rem;
		}
	}
}
